@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0rem;
  box-sizing: border-box;
}

.link-button {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 40px 10px;
  outline: 0;
  border-radius: 10px;
  cursor: pointer;
}

.link-button:hover {
  border: 2px solid #61dafb !important;
}

.darkmode-toggle {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  outline: 0;
  border-radius: 10px;
  cursor: pointer;
  color: #61dafb;
  background-color: #32363e !important;
  border: 2px solid #32363e !important;
  border-radius: 10px;
}

.darkmode-toggle:hover {
  border-color: #61dafb !important;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  width: 80%;
  margin-top: 2rem;
}
