@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0rem;
  box-sizing: border-box;
}

.link-button {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 40px 10px;
  outline: 0;
  border-radius: 10px;
  cursor: pointer;
}

.link-button:hover {
  border: 1px solid #61dafb !important;
}
